body{
  background-image : url("LandingPageWallpaper1.jpg");
}
.col-md-9{
  background-color: greenyellow
}
.col-md-3{
  background-color: lightblue;
}
#a{
  /* background-color: pink; */
  text-align: center;
}