{% extends 'base.html' %}
{% block content %}
    <form action="/getnews/all_articles" method="POST">
        <div class="form-group">
            <label >Keyword:</label>
            <input class="form-control" type="text" value="trump" name="q">
        </div>

        <div class="row">
            <div class="col">
                <label >Source:</label>
                <select name="sources" class="form-control">
                    <option value="bbc-news">bbc-news</option>
                </select>            
            </div>
            <div class="col">
                <label >Domain(s):</label>
                <input class="form-control" type="text" name="domains" value="bbc.co.uk">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label >From:</label>
                <input class="form-control" type="date" name="from_param" value="2019-08-01">
            </div>         
            <div class="col">
                <label >To:</label>
                <input class="form-control" type="date" name="to" value="2019-08-01"   > 
            </div>  
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Search</button> 
        

    </form>     
    <hr>
    {% for index, article in news %}
        {% if index % 3 == 0 %}
            <div class="row">
        {% endif %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ article['urlToImage'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ article['url'] }}">
                                {{ article['title'] }}
                            </a>
                        </h5>
                        <p class="card-text">
                            <span>Source: {{ article['source']['name'] }}</span> <br>
                            <span>Published: {{ article['publishedAt'].strftime('%Y-%m-%d | %H:%M') }}</span> 
                        </p>
                    </div>
                </div>  
            </div>
        {% if index % 3 == 2 or index == (num_art - 1)%}
            </div>
        {% endif %}

    {% endfor %}    
{% endblock content %}