{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col" id="a">
      <div>
        <img  src="/static/profile_pics/jkxspzbn.jpg" 
              alt="creator_pic" 
              id="a1" 
              class="rounded-circle mx-auto d-block m-2">
        <p>
          Welcome to <strong>anirudhkk.com</strong>, explore and report bugs to improve the site!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      asdasd
    </div>
    <div class="col-md-3">
      asdasd
    </div>
  </div>
  
  <div class="rounded-circle">
</div>      
{% endblock content %}