{% extends 'base.html' %}

{% block content %}
    <h1>EXEC SQL</h1>
	<hr>
	{% if get_flashed_messages() %}
	    {% for message in get_flashed_messages() %}
		<div> {{ message }} </div> 
	    {% endfor %}
	    <hr>
	{% endif %}
    
    <form action="/execsql" method="POST">
        <label style='vertical-align: top;'>SQL Statements:</label>
        <textarea name="sql" id="sql" cols="100" rows="10"></textarea>
        <br>
        <input type="submit">
    </form>

    {% if data %}
        <hr>
        <h4>table name: todo_list:</h4>
        <hr> 
        <p>{{'{:_<3} | {:_<96} {}'.format('No.', 'Task', 'Created')}}</p>
        <hr>
        {% for i in data %}
            {{ i }} <br>
        {% endfor %}
    {% endif %}
    <hr>

{% endblock content %}