{% extends 'base.html' %}

{% block content %}
<hr>
<div class="list-group-item active">
    <form action="" method="POST">
                <div class="form-row">
                    <div class="col-auto">
                        {{ form.thingtodo.label(class="form-control-label") }}
                    </div>
                    <div class="col">
                            {{ form.thingtodo(class="form-control") }}
                    </div>
                    <div class="col-auto">
                        {{ form.submit(class="btn btn-outline-light form-control") }}                    

                    </div>
                </div>


        </form>
</div>

<br>
{% if todo_list %}
        {% for i in todo_list %}
            <li class="clearfix list-group-item">
                <span class="float-left">
                    {{ i.thingtodo }}
                    <br>
                    {{ i.created.date() }} | {{ i.created.strftime("%H:%M") }}
                </span>

                <span class="float-right">
                    <a href="" class="btn btn-outline-info">Delete</a>
                </span>

            </li>
        {% endfor %}
    <hr>

{% else %}
    <div>There is nothing on your To Do List</div>
{% endif %}
{% endblock content %}