{% extends 'base.html' %}

{% block content %}
<hr>
<div class="list-group-item active">
    <form action="" method="POST">
                <div class="form-row">
                    <div class="col-auto">
                        {{ form.thingtodo.label(class="form-control-label") }}
                    </div>
                    <div class="col">
                            {{ form.thingtodo(class="form-control") }}
                    </div>
                    <div class="col-auto">
                        {{ form.submit(class="btn btn-outline-light form-control") }}                    

                    </div>
                </div>


        </form>
</div>

<br>
{% if todo_list %}
        {% for i in todo_list %}
            <li class="clearfix list-group-item">
                <span class="float-left">
                    {{ i.thingtodo }}
                    <br>
                    {{ i.created.date() }} | {{ i.created.strftime("%H:%M") }}
                </span>

                <span class="float-right">
                    <button class="btn btn-outline-danger"data-toggle="modal" data-target="#deleteModal{{ i.id }}">
                        Delete
                    </button>
                </span>
            </li>
            <!-- Modal -->
            <div class="modal fade" id="deleteModal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ i.id }}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal{{ i.id }}Label">Confirm Delete?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form action="{{ url_for('delete_todo', todo_id=i.id) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    <hr>

{% else %}
    <div>There is nothing on your To Do List</div>
{% endif %}
{% endblock content %}